<div class="container-fluid">
  <div class="jumbotron text-center">
    <h1>
      <img class="logo" src="assets/ngx-rocket-logo.png" alt="angular logo" />
      <span translate>Hello world !</span>
    </h1>
    <q>
      Deje el codigo del mapa pero por alguna extrañá razon el codigo de ejemplo tiene errores, <br> al parecer es por una dependencia que necesita el modulo agm/core, ya no me dio tiempo de corregirlo
    </q>

    <!-- <agm-map [latitude]="lat" [longitude]="lng">
      
    </agm-map> -->

    
  </div>
</div>
